<div [formGroup]="itemForm">
  <div class="form-group col-xs-6">
    <label>Produto</label>
    <ng-select  [items]="listaDeProdutos"
                [loading]="loadingProdutos"
                bindLabel="nome"
                [(ngModel)]="produtoSelecionado"
                formControlName="produto">
    </ng-select>
    <small [hidden]="itemForm.controls['produto'].valid || itemForm.controls['produto'].untouched " class="text-danger">
        Produto é obrigatório
    </small>
  </div>
  <!-- (after-if)="configuraChecagemDeRentabilidade()" -->
  <div [hidden]="!produtoSelecionado" class="form-group col-xs-6">
    <label>Preço Unitário</label>
    <span class="ui-inputgroup-addon">R$</span>
    <input type="text" class="form-control" formControlName="precoUnitario" #inputPreco>
    <small [hidden]="itemForm.controls['precoUnitario'].valid || itemForm.controls['precoUnitario'].untouched" class="text-danger">
      Preço unitário é obrigatório
    </small>
  </div>
  <div *ngIf="produtoSelecionado"
        >
    <div class="form-group col-xs-6">
      <label>Quantidade</label>
      <input type="number" class="form-control" formControlName="quantidade">
      <small [hidden]="itemForm.controls['quantidade'].valid || itemForm.controls['quantidade'].untouched" class="text-danger">
        Quantidade é obrigatório e deve ser múltiplo de {{ produtoSelecionado.multiplo }}
      </small>
    </div>
    <div class="form-group col-xs-6"
    *ngIf="itemForm.controls['precoUnitario'].valid && (rentabilidadeCarregada | async)"
    >
        <label>Rentabilidade</label>
        <input type="text" disabled="true" class="form-control" formControlName="rentabilidade">
        <small [hidden]="itemForm.controls['rentabilidade'].valid" class="text-danger">
          Rentabilidade deve ser boa ou ótima
        </small>
      </div>
  </div>
  <p>
      Form Status: {{ itemForm.status }}
      
  </p>
</div>
