
<div [formGroup]="itemForm">
  <div class="form-group col-xs-6">
    <label>Produto</label>
    <ng-select  [items]="listaDeProdutos"
                [loading]="loadingProdutos"
                bindLabel="nome"
                [(ngModel)]="produtoSelecionado"
                formControlName="produto">
    </ng-select>
    <small [hidden]="itemForm.controls['produto'].valid || itemForm.controls['produto'].untouched " class="text-danger">
        Produto é obrigatório
    </small>
  </div>
  <!-- (after-if)="configuraChecagemDeRentabilidade()" -->
  <div [hidden]="!produtoSelecionado" class="grupo">
    <div class="ui-grid-col-3">
      <label>Preço Unitário</label>
    </div>
    <div class="ui-grid-col-6">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">R$</span>
        <input currencyMask class="form-control" formControlName="precoUnitario"
               placeholder="Preço unitário" [options]="{ prefix: ' ', thousands: '.', decimal: ',', allowNegative: 'false' }"
               pInputText
               #inputPreco>
      </div>
      <small [hidden]="itemForm.controls['precoUnitario'].valid || itemForm.controls['precoUnitario'].untouched" class="text-danger">
        Preço unitário é obrigatório
      </small>
    </div>
  </div>
  <div *ngIf="produtoSelecionado"
        >
    <div class="grupo">
      <label>Quantidade</label>
      <input type="number" class="form-control" formControlName="quantidade">
      <small [hidden]="(itemForm.errors && itemForm.errors['quantidadeInvalida']) || itemForm.controls['quantidade'].untouched" class="text-danger">
        {{ mensagemQuantidadeInvalida }}
      </small>
    </div>
    <div class="grupo"
        *ngIf="itemForm.controls['precoUnitario'].valid && (rentabilidadeCarregada | async)">
        <label>Rentabilidade</label>
        <input type="text" disabled="true" class="form-control" formControlName="rentabilidade">
        <small [hidden]="itemForm.controls['rentabilidade'].valid" class="text-danger">
          Rentabilidade deve ser boa ou ótima
        </small>
      </div>
  </div>
</div>
