<div class="page-layout input-wrapper">
  <app-botao-alterar></app-botao-alterar>
  <form [formGroup]="pedidosForm" (ngSubmit)="salvarPedido()" >
    <label for="cliente">Cliente</label>
    <ng-select  [items]="listaDeClientes"
                [loading]="loadingClientes"
                bindLabel="Nome"
                bindValue="Id"
                id="cliente"
                placeholder="Selecione o cliente"
                formControlName="cliente">
                <ng-template ng-loadingtext-tmp let-searchTerm="searchTerm">
                    <div class="ng-option disabled">
                        Carregando...
                    </div>
                </ng-template>
    </ng-select>
    <small [hidden]="pedidosForm.controls['cliente'].valid || pedidosForm.controls['cliente'].untouched "
           class="mensagem-alerta">
        Cliente é obrigatório
    </small>
    <div *ngFor="let item of pedidosForm.controls['itens'].controls; let i = index">
      <app-item-de-pedido-form [itemForm]="item"></app-item-de-pedido-form>
      <span *ngIf="pedidosForm.controls['itens'].controls.length > 1">
        <button class="btn" style="align-content: flex-end" (click)="removerItem(i)"><a>Remover</a></button>
      </span>
      <br>
    </div>
    <div class="botoes">
        <button class="btn" (click)="adicionarItem()"><a>Adicionar</a></button>
        <button class="btn btn-primary" type="submit" [disabled]="!pedidosForm.valid || salvando">Salvar</button>
    </div>
  </form>
</div>
